body {
    margin: auto;
    background-color: darkgreen;
    font-family: Arial, Helvetica, sans-serif;
}

#loginBtn {
    padding: 5px;
    width: 100px;
    border-radius: 5px;
    border: none;
    background-color: blue;
    color: white;
     transition: all 0.3s ease;
}

#loginBtn:hover {
  background-color: rgb(0, 132, 255);
  color: white;
}

input {
    width: 280px;
}

.container {
    text-align: center;
    margin: auto;
    margin-top: 100px;
    border: none;
    max-width: 400px;
    padding: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 3px 3px 3px black;
}

#message {
    color: red;
}


