h1 {
    text-align: center;
}

#loginbtn {
    border: 1px solid blue;
  border-radius: 5px;
  text-align: center;
  color: blue;
  padding: 5px;
  margin: 5px;
  transition: all 0.3s ease;
}

#loginbtn:hover {
  background-color: blue;
  color: white;
}

.image-container {
  position: relative;
  max-width: 100%;
}

.image-container img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  display: block;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  box-shadow: 3px 3px 3px 3px black;
  text-shadow: 2px 2px 5px black;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
}
